* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}
.hero {
    background-color: #f8f8f8;
    overflow: hidden;
}
.heading h1 {
    color: #333; /* Couleur spécifiée */
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content {
    flex: 1;
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hero-content h2 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-content p {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}
.hero-image {
    flex: 1;
    width: 600px;
    height: 150px;
    margin: -20px auto 0; /* Adjusted margin to move it up */
    animation: fadeInRight 2s ease;
}

img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
@media screen and (max-width: 768px) {
    .heading h1 {
        font-size: 45px;
        margin-top: 30px;
    }
    .hero {
        background-color: #f8f8f8;
        overflow: hidden;
        margin-bottom: 30px; 
    }
    
    .container {
        display: flex;
        justify-content: center;
        width: 90%;
        margin: 65px auto 30px; 
    }
    
    .hero-content {
        width: 100%;
        margin: 35px 0px;
    }
    .hero-content h2 {
        font-size: 30px;
    }
    .hero-content p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .hero-image {
        width: 100%;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
 footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to right, #201402, #55421e);
    color: #fff;
    padding: 50px 0  20px; 
    
    font-size: 12px; 
    line-height: 18px; 
    margin-top: 30px;
      
     }
    
.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col {
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
    flex-basis: 15%;
}
.col p {
    margin-bottom: 10px; 
}

.logo {
    width: 180px; 
    height: auto; 
    margin-bottom: 30px;
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    padding-right: 20px;
    position: relative;
}
ul li {
    list-style: none;
    margin-bottom: 12px;
}
ul li a {
    text-decoration: none;
    color: #fff;
}
.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

.social-icons.fab {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}
h4 {
    margin-bottom: 10px; 
}
.social-icons a {
    font-size: 20px; 
    color: #fff; 
    transition: color 0.3s, margin-right 0.3s , vertical-align 0.3s; 
    margin-right: 5px; 
    vertical-align: middle;
    margin-top: 10px;
}

.social-icons a:hover {
    color: #0c265f; /
}


hr {
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}
.Copyright {
    text-align: center;
}
.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}
@media (max-width: 700px) {
    footer {
        bottom: unset;
    }
    .col {
        flex-basis: 100%;
    }
    .col:nth-child(2),
    .col:nth-child(3) {
        flex-basis: 100%;
    }
}
