
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:italic,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    transition: width none;
    font-weight: 500;
}

header {
    background-color: #f3f0eb;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}


 .logo {
    text-decoration: none;
    color: rgb(34, 27, 15);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}
.logo-img {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.navigation {
    display: flex;
    gap: 10px;
}




.profile-link i {
    font-size: 1.2em; /* Increase icon size slightly */
    padding: 5px; /* Add padding to create space between the icon and other links */
}

.profile-link i:hover {
    color: rgb(46, 17, 73); /* Change icon color on hover */
}


.navigation a{
    color: #000000;
    text-decoration: none;
    font-size: 1.1em;
    font-weight:500 ;
    padding-left: 30px;
    
    }


.navigation a:hover{
    color: #511174;
}

.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}





section{
    padding: 100px 200px;
}




.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(imgs/Dark\ Modern\ Sign\ Up\ Registration\ Page\ Desktop\ Prototype.jpg) no-repeat;
    background-size:cover;
    background-position: center;
}
.main h2{
    color: #f3f3f3;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #080808;
    font-size: 4em;
    font-weight: 300;
}
.main h3{
    color:#f3f3f3 ;
    font-size:2em ;
    font-weight: 300;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 30px;
}
.home .row{
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
}

.center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-content h3,
.center-container p,
.center-container a.btn {
    margin: 0 auto;
    max-width: 80%;
}


.main-btn{
    color: #000000;
    background-color: #eee;
    text-decoration: none;
    font-size:1.1em ;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #d8996f00;
    transform: scale(1.1,1.1);
}


.centered {
    text-align: center;
}

.search-bar {
    display: inline-block;
    width: 650px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    margin-bottom: 20px; /* Add margin to separate the advanced search link */
    position: relative; /* Positioning for the search button */
    border: 2px solid #333; /* Add border to highlight the edges */
    border-radius: 5px; /* Add border radius for rounded corners */
    padding: 5px; /* Add padding for inner content */
}

#search-input {
    width: calc(100% - 80px); /* Adjust width for input field */
    height: 100%; /* Adjust height as needed */
    padding: 10px; /* Add padding inside the input field */
    font-size: 18px; /* Adjust font size as needed */
    box-sizing: border-box; /* Ensure padding is included in the specified width */
    border: none; /* Remove input field border */
}

#search-button {
    position: absolute; /* Position the search button */
    top: 0;
    right: 0;
    width: 80px; /* Adjust width as needed */
    height: 100%; /* Adjust height as needed */
    padding: 10px; /* Add padding inside the button */
    font-size: 18px; /* Adjust font size as needed */
    box-sizing: border-box; /* Ensure padding is included in the specified width */
    background-color: #c28a5d; /* Button background color */
    color: #fff; /* Button text color */
    border: none; /* Remove button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 0 5px 5px 0; /* Add border radius for rounded corners on the right side */
}

#search-button i {
    vertical-align: middle; /* Align the search icon vertically */
}
.advanced-search a {
    position: absolute;
    top: 50%;
    right: calc(100% + 10px); /* Adjust the distance from the search bar */
    transform: translateY(-50%);
    font-size: 24px; /* Adjust the size as needed */
    color: #ac865b; /* Icon color */
    text-decoration: none; /* Remove default link styling */
    z-index: 1; /* Ensure the icon is positioned behind the search bar */
}



.filter-text {
    margin-top: 10px; /* Adjust margin as needed */
    font-size: 30px; /* Adjust font size as needed */
    color: #333; /* Text color */
}

.book-list {
    position: relative;
    text-align: center; /* Center the text */
    padding-bottom: 10px; /* Add padding at the bottom for equal spacing */
}

.line {
    width: 80%; /* Adjust width of the line */
    margin: 0 auto; /* Center the line */
    margin-top: 10px; /* Adjust margin-top to create space between the line and text */
    border-left: 4px solid #333; /* Left border to increase thickness */
    border-bottom: 2px solid #333; /* Line color and thickness */
}




.featured .featured-slider .box{
    margin:2rem 0;
    position: relative;
    overflow: hidden;
    border:var(--border);
    text-align: center;
}

.featured .featured-slider .box:hover{
    border:var(--border-hover);
}

.featured .featured-slider .box .image{
    padding:1rem;
    background: linear-gradient(15deg, #eee 30%, #fff 30.1%);
}

.featured .featured-slider .box:hover .image{
    transform: translateY(6rem);
}

.featured .featured-slider .box .image img{
    height: 25rem;
}

.featured .featured-slider .box .icons{
    border-bottom: var(--border-hover);
    position: absolute;
    top:0; left:0; right: 0;
    background: #fff;
    z-index: 1;
    transform: translateY(-105%);
}

.featured .featured-slider .box:hover .icons{
    transform: translateY(0%);
}

.featured .featured-slider .box .icons a{
    color:var(--black);
    font-size: 2.2rem;
    padding:1.3rem 1.5rem;
}

.featured .featured-slider .box .icons a:hover{
    background:var(--green);
    color:#fff;
}

.featured .featured-slider .box .content{
    background:#eee;
    padding:1.5rem;
}

.featured .featured-slider .box .content h3{
    font-size: 2rem;
    color:var(--black);
}

.featured .featured-slider .box .content .price{
    font-size: 2.2rem;
    color:var(--black);
    padding-top: 1rem;
}

.featured .featured-slider .box .content .price span{
    font-size: 1.5rem;
    color:var(--light-color);
    text-decoration: line-through;
}
.featured .featured-slider .swiper-wrapper {
    display: flex; /* Display flex */
    overflow-x: auto; /* Enable horizontal scrolling */
    gap: 20px; /* Add gap between each box */
}

.featured .featured-slider .swiper-slide {
    flex: 0 0 auto; /* Fix size of each box */
}

.swiper-button-next,
.swiper-button-prev {
    border: var(--border-hover);
    height: 4rem;
    width: 4rem;
    color: var(--black);
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}


.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 2rem;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: var(--black);
    color: #fff;
}








.bg-lightgray {
    background-color: rgb(199, 198, 193);
}

.testimonial-section {
    background-color: #f9f9f9;
    padding: 50px 0;
    text-align: center;
}

.testimonials-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-testimonials,
.right-testimonials {
    width: 45%;
}

.testimonial {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.testimonial .rating {
    font-size: 24px;
    margin-bottom: 10px;
}

.testimonial .quote {
    font-size: 18px;
    margin-bottom: 10px;
}

.testimonial .author {
    font-style: italic;
    color: #666;
}

@media (max-width: 768px) {
    .left-testimonials,
    .right-testimonials {
        width: 100%;
    }
}


.newsletter-section {
    background-color: #f3f3f3;
    padding: 50px 0;
    text-align: center;
}

.newsletter-section h1 {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px; /* Adjusted margin */
}

.newsletter-section p {
    font-size: 18px;
    margin-bottom: 20px; /* Adjusted margin */
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.newsletter-form button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.newsletter-form button:hover {
    background-color: #45a049;
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h2{
    font-size: 2.2rem;
    color:var(--black);
    padding:1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .box-container .box .map{
    width:100%;
}

.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#1b1a1a;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--black);
}


.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--border);
}

.loader-container{
    position: fixed;
    top:0; left: 0;
    height:100%;
    width: 100%;
    z-index: 10000;
    background:#f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader-container.active{
    display: none;
}

.loader-container img{
    height:10rem;
}











/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }

}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    .header .header-2{
        display:none;
    }

    .bottom-navbar{
        display: block;
    }

    #search-btn{
        display: inline-block;
    }

    .header .header-1{
        box-shadow: var(--box-shadow);
        position: relative;
    }

    .header .header-1 .search-form{
        position:absolute;
        top:-115%; right:2rem;
        width: 90%;
        box-shadow: var(--box-shadow);
    }

    .header .header-1 .search-form.active{
        top:115%;
    }

    .home .row .content{
        text-align: center;
    }

    .home .row .content h3{
        font-size: 3.5rem;
    }

    .newsletter{
        background-position: right;
    }

    .newsletter form{
        margin-left:0;
        max-width: 100%;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}
